
    <%- include ../layouts/cabecera.ejs %>
    
    
    
        <div>
            <h1 class="p-2">Lista de productos</h1>
            <br>
            <a href="productos/crear" type="button" class="btn btn-primary m-2">Agregar Producto</a>
        <table class="table table-dark table-hover p-2">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Sku</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Material</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Color</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Id especie</th>
                    <th scope="col">Id categoría</th> 
                    <th scope="col">Precio</th>
                    <th scope="col">Disponible</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto => 
                { %>
                    <tr>
                        <td><%= producto.id %></td>
                        <td><%= producto.sku %></td>
                        <td><%= producto.nombre %></td>
                        <td><img class="img-thumbnail" width="150" src="/images/<%= producto.imagen %>" alt=""></td> 
                        <td><%= producto.material %></td>
                        <td><%= producto.tamano %></td> 
                        <td><%= producto.color %></td>
                        <td><%= producto.peso %></td>
                        <td><%= producto.especies_id %></td>
                        <td><%= producto.categoria_id %></td>
                        <td><%= producto.precio %></td>
                        <td><%= producto.disponible %></td>
                        <td><%= producto.estado %></td>
                        <td><a href="/productos/detalles/<%= producto.id %>" class="btn btn-primary">Detalles</a></td>
                    </tr>
                    <% })%>
            </tbody>
        </table>

        </div>
        <%- include ../layouts/pie.ejs %>